src/*
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

.bowerrc
.DS_Store
.editorconfig
.gitattributes
.project
.sass-cache
.settings/
.tmp
.temp

.springBeans
.idea
.idea/*
*.iml
.classpath
generated.js

target/

app/bower_components
bower_components
coverage
drawable
hooks
node_modules
platforms
plugins
resources
www

*.swp
*.swo
*.log
*.DS_Store
